@import "reset";



body{
    background: hsla(333, 100%, 53%, 1);
    color: #36454F;
     }

    .container{
        
        width: 90%;
        height: 100vh;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .timer-div{
        font-size: 5rem;
    }
